@charset "UTF-8";
* {
    --header-height: 46px;
    --footer-height: 46px;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-size: 0;
}
#search__header {
    width: 100%;
    height: var(--header-height);
    line-height: 46px;
    background-color: #2c2c2c;
    color: #dfdfdf;
}
#search__body {
    height: calc(100% - var(--header-height) - var(--footer-height));
    place-content: center;
    text-align: center;
}
#search__footer {
    width: 100%;
    height: var(--footer-height);
}

#search__content {
    display: inline-block;
}
#search__input-box {
    display: inline-block;
    height: 46px;
    background-color: #8b8b8b;
    border-radius: 23px;
    padding: 0 24px;
    vertical-align: middle;
}
#search__input-box > input {
    height: 46px;
    font-size: 23px;
}
#search__input-box > select {
    height: 46px;
    font-size: 23px;
}
